{% extends 'base.html' %}
{% block content %}
{% load static %}


    <button Type="button" onclick="test_btn()">Click here</button>


   <script>
      document.addEventListener("DOMContentLoaded", function () {
         function getCSRFToken() {
            let cookieValue = null;
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
               const cookie = cookies[i].trim();
               if (cookie.startsWith('csrftoken=')) {
                  cookieValue = cookie.substring('csrftoken='.length, cookie.length);
                  break;
               }
            }
            return cookieValue;
         }

         function loadVideoSDKScript(callback) {
            const script = document.createElement("script");
            script.src = "https://sdk.videosdk.live/rtc-js-prebuilt/0.3.42/rtc-js-prebuilt.js";
            script.onload = callback; // Execute callback when the script is loaded
            document.head.appendChild(script);
         }

         window.test_btn = function () {

            const data = {
               doctor_id: 1,
               appointment_id: 4
            };

            console.log("{% url 'api' %}");
            fetch("{% url 'api' %}", {
               method: "POST", 
               headers: {
                  "Content-Type": "application/json",
                  "X-CSRFToken": getCSRFToken()
               },
               body: JSON.stringify(data)  
            })
            .then(response => response.json()) 
            .then(data => {
               if (data.success) {

                  const config = {
                    name: data.username,
                    meetingId: data.apiKey,
                    apiKey: data.meeting_id,
    
                    containerId: null,
    
                    micEnabled: true,
                    webcamEnabled: true,
                    participantCanToggleSelfWebcam: true,
                    participantCanToggleSelfMic: true,
    
                    chatEnabled: true,
                    screenShareEnabled: true,
    
                    leftScreen: {
                        actionButton: {
                            label: "Video SDK",
                            href: "https://videosdk.live/",
                        },
                        rejoinButtonEnabled: true,
                    },
                };
    
                loadVideoSDKScript(() => {
                    const meeting = new VideoSDKMeeting();
                    meeting.init(config);
                 });
               } else {
                  console.error("Error starting meeting:", data.error);
               }
            })
            .catch(error => {
               console.error("Error during API request:", error);
            });

        };

         
         });
   </script>


{% endblock %}

