{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    .capitalize-text {
          text-transform: capitalize;
    }
</style>

<body class="bg-light">
   <div class="select-area d-flex flex-column vh-100">
      <div class="bg-white shadow-sm">
         <div class="d-flex align-items-center justify-content-between mb-auto p-3 osahan-header">
            <div class="d-flex align-items-center gap-2 me-auto">
               <a href="{% url 'home' %}" class="text-dark bg-white shadow rounded-circle icon">
                  <span class="mdi mdi-arrow-left mdi-18px"></span>
               </a>
            </div>
            <div class="d-flex align-items-center gap-2">
               <a class="toggle text-muted d-flex align-items-center justify-content-center fs-5 bg-white shadow rounded-circle icon" href="#"><i
                     class="bi bi-list"></i></a>
            </div>
         </div>
         <div class="px-3 pb-3">
            <form method="get" action="{% url 'prescription_view' %}">
               <div class="input-group rounded-4 shadow overflow-hidden border-0 py-1 ps-3 bg-light">
                  <span class="input-group-text bg-transparent text-muted border-0 p-0" id="search"><span class="mdi mdi-magnify mdi-24px text-primary"></span></span>
                  <input type="text" name="q" value="{{ query }}" class="form-control bg-transparent text-muted border-0 px-3 fs-14" placeholder="Search" aria-label="Search" aria-describedby="search">
               </div>
            </form>
         </div>
      </div>
      <!-- body -->
      <div class="vh-100 my-auto overflow-auto body-fix-osahan-footer">
         <div class="py-3">
            <!-- Specialist -->
            <div>
               <h6 class="mb-2 pb-1 px-3 fw-bold text-black">Doctor Prescriptions</h6>
               <!-- 1st -->
               {% if prescriptions %}
               {% for prescription in prescriptions %}
               <a href="{% url 'prescription_patient_view' prescription_id=prescription.id %}" class="link-dark">
                  <div class="d-flex align-items-center gap-3 bg-white border-bottom shadow-sm p-3">
                    {% if prescription.doctor.profile_picture %}
                       <img src="{{ prescription.doctor.profile_picture.url }}" alt="" class="img-fluid rounded-4 favorite-img">
                    {% elif prescription.doctor.gender == 'Male' %}
                       <img src="{% static 'img/home/male-doctor.png' %}" class="img-fluid rounded-4 favorite-img">
                    {% elif prescription.doctor.gender == 'Female' %}
                       <img src="{% static 'img/home/female-doctor.png' %}" class="img-fluid rounded-4 favorite-img">
                    {% else %}
                       <img src="{% static 'img/home/doctor.png' %}" class="img-fluid rounded-4 favorite-img">
                    {% endif %}
                    <div class="small">
                       <h6 class="mb-1 fs-14">Dr. {{ prescription.doctor.full_name }}</h6>
                        <p class="card-text text-muted mb-1">Patient Name: {{ prescription.patient.patient_name }}</p>
                        <p class="card-text text-muted mb-1">Appointment Date: {{ prescription.slot.date }}</p>
                        <p class="card-text text-muted mb-1">Appointment Time: {{ prescription.slot.start_time }}</p>
                        <p class="card-text text-muted mb-1">Prescription: 
                            {% if prescription.status == "Approved" %}
                                <span class="badge bg-success">Approved</span>
                            {% else %}
                                <span class="badge bg-secondary">Pending</span>
                            {% endif %}
                        </p>
                    </div>
                 </div>
               </a>
               {% endfor %}
               {% else %}
                <div class="d-flex justify-content-center align-items-center" style="height:60vh !important">
                    <p class="text-muted text-center no-prescriptions">No prescriptions found</p>
                </div>
               {% endif %}
            </div>
         </div>
      </div>
   </div>

{% endblock %}
   
