{% extends 'base.html' %}
{% block content %}
{% load static %}

<style>
    .capitalize-text {
          text-transform: capitalize;
    }
</style>

<body class="bg-light">
   <div class="select-area d-flex flex-column vh-100">
      <div class="bg-white shadow-sm">
         <div class="d-flex align-items-center justify-content-between mb-auto p-3 osahan-header">
            <div class="d-flex align-items-center gap-2 me-auto">
               <a href="{% url 'doctor_home' %}" class="text-dark bg-white shadow rounded-circle icon">
                  <span class="mdi mdi-arrow-left mdi-18px"></span>
               </a>
            </div>
            <div class="d-flex align-items-center gap-2">
               <a class="toggle text-muted d-flex align-items-center justify-content-center fs-5 bg-white shadow rounded-circle icon" href="#"><i
                     class="bi bi-list"></i></a>
            </div>
         </div>
         <div class="px-3 pb-3">
            <form method="get" action="{% url 'prescription_page' %}">
               <div class="input-group rounded-4 shadow overflow-hidden border-0 py-1 ps-3 bg-light">
                  <span class="input-group-text bg-transparent text-muted border-0 p-0" id="search"><span class="mdi mdi-magnify mdi-24px text-primary"></span></span>
                  <input type="text" name="q" value="{{ query }}" class="form-control bg-transparent text-muted border-0 px-3 fs-14" placeholder="Search" aria-label="Search" aria-describedby="search">
               </div>
            </form>
         </div>
      </div>
      <!-- body -->
      <div class="vh-100 my-auto overflow-auto body-fix-osahan-footer">
         <div class="py-3">
            <!-- Specialist -->
            <div>
               <h6 class="mb-2 pb-1 px-3 fw-bold text-black">My Prescriptions</h6>
               <!-- 1st -->
               {% if prescriptions %}
               {% for prescription in prescriptions %}
               <a href="{% url 'prescription_detail' meeting_id=prescription.slot.room_id %}" class="link-dark">
                  <div class="d-flex align-items-center gap-3 bg-white border-bottom shadow-sm p-3">
                     <div class="small">
                        <h6 class="mb-1 fs-14 capitalize-text">{{ prescription.patient.patient_name }}</h6>
                        <p class="card-text text-muted mb-1">Age: {{ prescription.patient.age }}</p>
                        <p class="card-text text-muted mb-1">Gender: {{ prescription.patient.gender }}</p>
                        <p class="card-text text-muted mb-1">Mobile: {{ prescription.patient.mobile }}</p>
                        <p class="card-text text-muted mb-1">Appointment Date: {{ prescription.slot.date }}</p>
                        <p class="card-text text-muted mb-1">Appointment Time: {{ prescription.slot.start_time }}</p>
                        <p class="card-text text-muted mb-1">Prescription: 
                            {% if prescription.status == "Approved" %}
                                <span class="badge bg-success">Approved</span>
                            {% else %}
                                <span class="badge bg-secondary">Pending</span>
                            {% endif %}
                        </p>
                     </div>
                  </div>
               </a>
               {% endfor %}
               {% else %}
                <div class="d-flex justify-content-center align-items-center" style="height:60vh !important">
                    <p class="text-muted text-center no-prescriptions">No prescriptions found</p>
                </div>
               {% endif %}
            </div>
         </div>
      </div>
      <!-- footer -->
      <div class="footer mt-auto p-3 fix-osahan-footer">
         <div
            class="d-flex align-items-center justify-content-between rounded-4 shadow overflow-hidden bottom-nav-main">
            <a href="{% url 'doctor_home' %}" class="col footer-bottom-nav">
               <span class="mdi mdi-home-variant-outline mdi-24px"></span>
               <span>Home</span>
            </a>
            <a href="{% url 'list_slots' %}" class="col footer-bottom-nav">
               <span class="mdi mdi-magnify mdi-24px"></span>
               <span>Search</span>
            </a>
            <a href="{% url 'doctor_video_page' %}" class="col footer-bottom-nav">
               <span class="mdi mdi-video-outline mdi-24px"></span>
               <span>Video</span>
            </a>
            <a href="{% url 'prescription_page' %}" class="col footer-bottom-nav active">
             <span class="mdi mdi-clipboard-text-outline mdi-24px"></span>
             <span>Prescription</span>
            </a>
            <a href="{% url 'doctor_profile_page' %}" class="col footer-bottom-nav">
               <span class="mdi mdi-account-outline mdi-24px"></span>
               <span>Profile</span>
            </a>
         </div>
   </div>

   <nav id="main-nav">
    <ul class="second-nav">
       <li class="osahan-user-profile bg-primary">
          <div class="d-flex align-items-center gap-2">
            {% if request.user.doctor_profile.profile_picture %}
             <img src="{{ request.user.doctor_profile.profile_picture.url }}" alt="" class="rounded-pill img-fluid">
            {% elif request.user.doctor_profile.gender == 'Male' %}
             <img src="{% static 'img/home/male-doctor.png' %}" alt="" class="img-fluid rounded-circle icon">
            {% elif request.user.doctor_profile.gender == 'Female' %}
             <img src="{% static 'img/home/female-doctor.png' %}" alt="" class="img-fluid rounded-circle icon">
            {% else %}
             <img src="{% static 'img/home/doctor.png' %}" alt="" class="img-fluid rounded-circle icon">
            {% endif %}
             <div class="ps-1">
                <h6 class="fw-bold text-white mb-0">Hey, {{ request.user.name }}!</h6>
                <p class="text-white-50 m-0 small">{{ request.user.countryCode }} {{ request.user.mobile }}</p>
             </div>
          </div>
       </li>
       <li><a href="{% url 'doctor_home' %}"><span class="mdi mdi-home-variant-outline me-3"></span>Homepage</a></li>
       <li>
         <a href="#"><span class="mdi mdi-account-outline me-3"></span>My Profile</a>
         <ul>
            <li><a href="{% url 'doctor_profile_page' %}"><span class="mdi mdi-account-outline me-3"></span>My Account</a></li>
         </ul>
      </li>
       <li>
         <form method="POST" action="{% url 'sign_out' %}" class="logout-form">
            {% csrf_token %}
            <button type="submit"><span class="mdi mdi-logout me-3"></span>Sign out</button>
         </form>     
       </li>
    </ul>
    <ul class="bottom-nav">
       <li class="home">
          <a href="{% url 'doctor_home' %}">
             <p class="h5 m-0"><span class="mdi mdi-home-variant-outline"></span></p>
             Home
          </a>
       </li>
       <li class="find">
         <a href="{% url 'list_slots' %}">
            <p class="h5 m-0"><span class="mdi mdi-magnify"></span></p>
            Search
         </a>
      </li>
       <li class="more">
          <a href="{% url 'doctor_profile_page' %}">
             <p class="h5 m-0"><span class="mdi mdi-account-circle-outline"></span></p>
             Profile
          </a>
       </li>
    </ul>
 </nav>

{% endblock %}
   
