{% extends 'base.html' %}
{% block content %}

{% for date, notifications in grouped_notifications.items %}
             <div>
                 <h6 class="border-bottom fw-bold text-black p-3 mb-0">{{ date }}</h6>
                 {% for notification in notifications %}
                     <div class="d-flex gap-3 bg-white border-bottom p-3">
                         <div>
                             <span class="bg-success-subtle rounded-pill notification-icon">
                                 <span class="mdi mdi-calendar-check text-success"></span>
                             </span>
                         </div>
                         <div>
                             <p class="text-muted mb-2">{{ notification.message }}</p>
                             <a href="#">Just Now</a>
                         </div>
                     </div>
                 {% endfor %}
             </div>
         {% endfor %}




{% endblock %}